.bg-img {
    background-image: url("../images/stock-photo-burger.jpeg");
    background-size: cover;
    background-position: center;
}

.coming-soon {
    min-height: 100vh;
}

.logo {
    width: auto;
    height: auto;
}

.coming-soon-heading {
    font-family: 'Outfit', sans-serif;
    font-size: 3em;
    color: #bd1d2a;
}
