.bg-img {
    background-image: url("../images/stock-photo-burger.jpeg");
    background-size: cover;
    background-position: center;
}

.coming-soon {
    min-height: 100vh;
}

.logo {
    width: 40%;
    height: 40%;
}

.coming-soon-heading {
    font-family: 'Outfit', sans-serif;
    font-size: 3em;
    color: #bd1d2a;
}

/* For the success message */
#success-msg {
    display: none;
}
  
#success-msg.show {
    display: block;
}